.floating-icons-container {
  position: fixed;
  inset: 0;
  pointer-events: none;
  overflow: visible;
  z-index: 0;
}

.floating-icon {
  position: absolute;
  opacity: 0.85;
  animation: float 6s ease-in-out infinite;
  pointer-events: none;
  will-change: transform;
  transition: opacity 0.2s;
  transform: translate(-50%, -50%);
  z-index: 0;
  width: 80px;
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: center;
  -webkit-user-select: none;
  user-select: none;
}



.floating-icon svg {
  filter: drop-shadow(0 0 10px rgba(220, 38, 38, 0.4));
  pointer-events: none;
  display: block;
  width: 80px;
  height: 80px;
}

.floating-icon img {
  filter: drop-shadow(0 0 10px rgba(220, 38, 38, 0.4));
  pointer-events: none;
  display: block;
  width: auto;
  height: auto;
  max-width: 100%;
  max-height: 100%;
}


/* Default positions */
.icon-chip {
  top: 20%;
  left: 15%;
  animation-delay: 0s;
  animation-duration: 8s;
}

.icon-dice {
  top: 25%;
  left: 85%;
  animation-delay: 1.5s;
  animation-duration: 7s;
}

.icon-card {
  top: 70%;
  left: 20%;
  animation-delay: 3s;
  animation-duration: 9s;
}

.icon-coin {
  top: 65%;
  left: 75%;
  animation-delay: 2s;
  animation-duration: 6s;
}

.icon-spade {
  top: 75%;
  left: 80%;
  animation-delay: 4s;
  animation-duration: 8s;
}

.icon-diamond {
  top: 40%;
  left: 10%;
  animation-delay: 1.5s;
  animation-duration: 7s;
}

.icon-seven {
  top: 60%;
  left: 12%;
  animation-delay: 2.5s;
  animation-duration: 9s;
}

@keyframes float {
  0%, 100% {
    transform: translate(-50%, -50%) translateY(0px) rotate(0deg);
  }
  25% {
    transform: translate(-50%, -50%) translateY(-15px) rotate(5deg);
  }
  50% {
    transform: translate(-50%, -50%) translateY(-5px) rotate(-5deg);
  }
  75% {
    transform: translate(-50%, -50%) translateY(-20px) rotate(3deg);
  }
}

@media (max-width: 768px) {
  .floating-icon {
    opacity: 0.6;
  }
  
  .floating-icon svg {
    width: 60px;
    height: 60px;
  }

}
